USE [master]
GO
/****** Object:  Database [WaterFeeInfo]    Script Date: 2022/5/22 15:08:52 ******/
CREATE DATABASE [WaterFeeInfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WaterFeeInfo', FILENAME = N'E:\SQL Server2019 download\实例根目录\MSSQL15.MSSQLSERVER\MSSQL\DATA\WaterFeeInfo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WaterFeeInfo_log', FILENAME = N'E:\SQL Server2019 download\实例根目录\MSSQL15.MSSQLSERVER\MSSQL\DATA\WaterFeeInfo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WaterFeeInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WaterFeeInfo]
GO
/****** Object:  Table [dbo].[收费登记表]    Script Date: 2022/5/22 15:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[收费登记表](
	[流水号] [nchar](15) NOT NULL,
	[收费时间] [nchar](10) NOT NULL,
	[应收费用] [money] NOT NULL,
	[实收费用] [money] NOT NULL,
	[业务员号] [nchar](15) NOT NULL,
 CONSTRAINT [PK_收费登记表] PRIMARY KEY CLUSTERED 
(
	[流水号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[业务员表]    Script Date: 2022/5/22 15:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[业务员表](
	[业务员号] [nchar](15) NOT NULL,
	[业务员名] [nchar](10) NOT NULL,
	[性别] [nchar](5) NOT NULL,
	[联系方式] [nchar](25) NOT NULL,
	[密码] [nchar](25) NOT NULL,
 CONSTRAINT [PK_业务员表] PRIMARY KEY CLUSTERED 
(
	[业务员号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用户表]    Script Date: 2022/5/22 15:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用户表](
	[客户号] [nchar](15) NOT NULL,
	[客户名] [nchar](10) NOT NULL,
	[地址] [nchar](30) NOT NULL,
	[密码] [nchar](25) NOT NULL,
	[联系方式] [nchar](25) NOT NULL,
	[性别] [nchar](5) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[客户号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用户缴费管理表]    Script Date: 2022/5/22 15:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用户缴费管理表](
	[流水号] [nchar](15) NOT NULL,
	[客户号] [nchar](15) NOT NULL,
	[费用] [money] NOT NULL,
	[收费标志] [nchar](10) NOT NULL,
 CONSTRAINT [PK_用户缴费管理表_1] PRIMARY KEY CLUSTERED 
(
	[流水号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用户用水信息表]    Script Date: 2022/5/22 15:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用户用水信息表](
	[客户号] [nchar](15) NOT NULL,
	[类型号] [nchar](10) NOT NULL,
	[月份] [nchar](10) NOT NULL,
	[用水量] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_用户用水信息表] PRIMARY KEY CLUSTERED 
(
	[客户号] ASC,
	[类型号] ASC,
	[月份] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用水类型表]    Script Date: 2022/5/22 15:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用水类型表](
	[类型号] [nchar](10) NOT NULL,
	[水价(元/吨)] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_WaterType] PRIMARY KEY CLUSTERED 
(
	[类型号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[收费登记表]  WITH CHECK ADD  CONSTRAINT [FK_收费登记表_业务员表] FOREIGN KEY([业务员号])
REFERENCES [dbo].[业务员表] ([业务员号])
GO
ALTER TABLE [dbo].[收费登记表] CHECK CONSTRAINT [FK_收费登记表_业务员表]
GO
ALTER TABLE [dbo].[收费登记表]  WITH CHECK ADD  CONSTRAINT [FK_收费登记表_用户缴费管理表1] FOREIGN KEY([流水号])
REFERENCES [dbo].[用户缴费管理表] ([流水号])
GO
ALTER TABLE [dbo].[收费登记表] CHECK CONSTRAINT [FK_收费登记表_用户缴费管理表1]
GO
ALTER TABLE [dbo].[用户缴费管理表]  WITH CHECK ADD  CONSTRAINT [FK_用户缴费管理表_用户表1] FOREIGN KEY([客户号])
REFERENCES [dbo].[用户表] ([客户号])
GO
ALTER TABLE [dbo].[用户缴费管理表] CHECK CONSTRAINT [FK_用户缴费管理表_用户表1]
GO
ALTER TABLE [dbo].[用户用水信息表]  WITH CHECK ADD  CONSTRAINT [FK_用户用水信息表_用户表] FOREIGN KEY([客户号])
REFERENCES [dbo].[用户表] ([客户号])
GO
ALTER TABLE [dbo].[用户用水信息表] CHECK CONSTRAINT [FK_用户用水信息表_用户表]
GO
ALTER TABLE [dbo].[用户用水信息表]  WITH CHECK ADD  CONSTRAINT [FK_用户用水信息表_用水类型表] FOREIGN KEY([类型号])
REFERENCES [dbo].[用水类型表] ([类型号])
GO
ALTER TABLE [dbo].[用户用水信息表] CHECK CONSTRAINT [FK_用户用水信息表_用水类型表]
GO
USE [master]
GO
